NODE_ENV=development
PORT=3000

DATABASE_URL=

ELASTICSEARCH_URL=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

JWT_SECRET=
JWT_REFRESH_SECRET=

TECDOC_API_URL=
TECDOC_API_KEY=

TELEGRAM_BOT_TOKEN=

AI_API_KEY=